.services__blog {
  display: flex;
  flex-direction: column;
}

.services__blog-heading {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  margin-right: 5rem;
  margin-bottom: 5rem;
}

.services__blog-heading h1 {
  font-size: 62px;
  line-height: 75px;
  font-family: var(--font-family);
  font-weight: 600;
}
.services__blog-heading p {
  font-size: 24px;
  font-family: var(--font-family2);
  font-weight: 400;
  margin-top: 2rem;
}

.services__blog-container {
  display: flex;
  flex-direction: row;
}

.services__blog-container_groupB {
  flex: 1;
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-gap: 2rem;
}

.service__reloc-content {
  margin-top: 5rem;
}

.service__reloc-content h1 {
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 34px;
  line-height: 45px;
  margin: 1rem 0;
  color: var(--color-head);
}

.service__reloc-content h2 {
  font-family: var(--font-family);
  font-weight: 800;
  font-size: 28px;
  line-height: 45px;
  margin: 1rem 0;
  color: var(--color-head);
}

.service__reloc-content p {
  color: var(--color-text);
  font-family: var(--font-family2);
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  margin-bottom: 2rem;
}
@media screen and (max-width: 700px) {
  .services__blog-heading h1 {
    font-size: 42px;
  }
  .services__blog-heading p {
    font-size: 20px;
  }
  .services__blog-container_groupB {
    grid-template-columns: repeat(1, 1fr);
  }
  .service__reloc-content p {
    font-size: 16px;
  }
  .services__blog-heading h1 {
    font-size: 46px;
    line-height: 52px;
  }
  .service__reloc-content-heading {
    display: flex;
    flex-direction: column;
  }
  .services__left-text {
    margin: 2rem;
  }

  .service__reloc-content {
    margin-top: 2rem;
  }
}

@media screen and (max-width: 550px) {
  .services__blog-heading h1 {
    font-size: 34px;
    line-height: 42px;
  }
}
