.immi__blog-container_article {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  background: #f9f9f9;
  border-radius: 20px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.immi__blog-container_article-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1rem 1.5rem;
  height: 100%;
  margin: 1rem;
}

.immi__blog-container_article-content h5 {
  font-family: var(--font-family2);
  font-size: 16px;
  line-height: 25px;
  font-weight: 400;
  margin-bottom: 1rem;
  color: rgb(0, 0, 0);
}

.immi__blog-container_article-content h3 {
  font-family: var(--font-family);
  font-size: 25.11px;
  font-weight: 800;
  line-height: 30.3px;
  color: #060056;
  cursor: pointer;
  margin-bottom: 1rem;
}

.immi__blog-container_article-content p:last-child {
  cursor: pointer;
  font-size: 40px;
  display: flex;
  justify-content: flex-end;
  color: rgb(208, 214, 214);
}

@media screen and (max-width: 550px) {
  .immi__blog-container_article-content h3 {
    font-size: 18px;
    line-height: 25p;
  }
}
.immi__blog-container_article {
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;
}

.immi__blog-container_article-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  padding: 1rem 1.5rem;
  height: 100%;
}

.immi__blog-container_article-content p {
  font-family: var(--font-family);
  font-size: 11.65px;
  font-weight: 700;

  color: rgb(0, 0, 0);
}

.immi__blog-container_article-content h3 {
  font-family: var(--font-family);
  font-size: 25.11px;
  font-weight: 800;
  line-height: 30.3px;
  color: #060056;

  cursor: pointer;
}

.immi__blog-container_article-content p:last-child {
  cursor: pointer;
}

@media screen and (max-width: 550px) {
  .immi__blog-container_article-content h3 {
    font-size: 18px;
    line-height: 25p;
  }
}
