.gpt3__cta {
  display: flex;
  flex: 1;
  flex-direction: row;
  justify-content: center;
  padding: 3rem;
  text-align: center;
}

.gpt3__cta-content h3 {
  font-style: normal;
  font-weight: 800;
  font-size: 30px;
  line-height: 45px;
  font-family: var(--font-family);
}
.gpt3__cta-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 5rem;
}
.gpt3__cta-btn button {
  background: #060056;
  border-radius: 40px;
  color: white;
  font-style: normal;

  font-size: 18px;
  line-height: 30px;
  padding: 0.5rem 3rem;
  border: none;
  outline: none;
  font-family: var(--font-family2);
  cursor: pointer;
  min-width: 150px;
}

@media screen and (max-width: 650px) {
  .gpt3__cta {
    flex-direction: column;
  }

  .gpt3__cta-btn {
    margin: 2rem 0 0;
  }
}

@media screen and (max-width: 550px) {
  .gpt3__cta {
    flex-direction: column;
    /* margin: 4rem 2rem; */
  }

  .gpt3__cta-content h3 {
    font-size: 18px;
    line-height: 32px;
  }

  .gpt3__cta-btn button {
    font-size: 14px;
    line-height: 28px;
  }
}
