.immi__possibility {
  display: flex;
  flex-direction: row;
  margin-bottom: 5rem;
}
.immi__possibility-image {
  flex: 1;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  max-width: 35rem;
  margin-right: 2rem;
}
.immi__possibility-image img {
  width: 100%;
  height: 100%;
}
.immi__possibility-content {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  margin-right: 5rem;
}

.immi__possibility-content h1 {
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 48px;
  line-height: 55px;
  margin: 1rem 0;
}

.immi__possibility-content p {
  color: var(--color-text);
  font-family: var(--font-family2);
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;

  margin-bottom: 2rem;
}
@media screen and (max-width: 1050px) {
  .immi__possibility {
    flex-direction: column;
    margin-bottom: 0rem;
  }

  .immi__possibility-image {
    margin: 1rem 0;
  }

  .immi__possibility-content {
    margin-top: 2rem;
  }
}
@media screen and (max-width: 700px) {
  .immi__possibility-image img {
    width: 100%;
    height: 100%;
  }
  .immi__possibility-content p {
    font-size: 18px;
  }
  .immi__possibility-content h1 {
    font-size: 34px;
    line-height: 42px;
  }
}
