/* First Container CSS */
.services__possibility {
  display: flex;
  flex-direction: row;
  margin-bottom: 5rem;
}

.services__possibility-content-heading h1 {
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 20px;
  line-height: 30px;
  margin: 1rem 0;
}

.services__possibility-image {
  flex: 1 1;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  max-width: 35rem;
  margin-right: 2rem;
}
.services__possibility-image img {
  width: 100%;
  height: 100%;
}
.services__possibility-content {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  margin-right: 2rem;
  margin-left: 2rem;
}

.services__possibility-content h1 {
  font-family: var(--font-family);
  font-weight: 800;
  font-size: 34px;
  line-height: 45px;
  margin: 1rem 0;
  color: var(--color-head);
}

.services__possibility-content p {
  color: var(--color-text);
  font-family: var(--font-family2);
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;

  margin-bottom: 2rem;
}

/* Second Container CSS */

.services__secondContainer {
  display: flex;
  flex-direction: row;
  margin-bottom: 10rem;
  margin-left: 8rem;
}

.services__second-left-text {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  padding: 4rem;
  background-color: #060056d7;
  border-radius: 20px 0px 0px 20px;
  
  height: 20em;
}
.services__second-left-text h1 {
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 34px;
  line-height: 45px;
  color: white;
  margin-bottom: 1rem;
}
.services__second-left-text p {
  font-family: var(--font-family2);
  font-weight: 200;
  font-size: 18px;
  line-height: 30px;
  color: white;
}
.services__second-right-image {
  flex: 1 1;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.services__second-right-image img {
  max-width: 35rem;
}
.services__third-left-image img {
  max-width: 35rem;
}

/* Thirds Container CSS */
.services__thirdContainer {
  display: flex;
  flex-direction: row;
  margin-bottom: 5rem;
  margin-right: 8rem;
}

.services__third-right-text {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  padding: 4rem;
  background-color: #060056d7;
  border-radius: 0px 20px 20px 0px;
  /* height: 20em; */
  height: 20em;
}
.services__third-right-text h1 {
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 34px;
  line-height: 45px;
  color: white;
  margin-bottom: 1rem;
}
.services__third-right-text p {
  font-family: var(--font-family2);
  font-weight: 200;
  font-size: 18px;
  line-height: 30px;
  color: white;
}
.services__third-left-image {
  flex: 1 1;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.services__third-left-image img {
  max-width: 35rem;
}

.about__possibility-image img {
  width: 100%;
  height: 100%;
}

@media screen and (max-width: 1050px) {
  .services__possibility {
    flex-direction: column;
    margin-bottom: 0rem;
  }
  .services__possibility-image {
    margin: 1rem 0;
  }
  .services__thirdContainer {
    flex-direction: column;
    margin-right: 0rem;
  }
  .services__secondContainer {
    flex-direction: column;
    margin-left: 0rem;
  }

  .services__second-right-image {
    margin: 1rem 0;
  }

  .services__possibility-content {
    margin-top: 2rem;
  }

  .services__second-left-text {
    margin-top: 2rem;
    border-radius: 20px 20px 20px 20px;
    width: 100%;
  }
  .services__third-right-text {
    margin-top: 2rem;
    border-radius: 20px 20px 20px 20px;
    width: 100%;
  }
}
@media screen and (max-width: 700px) {
  .services__possibility-image img {
    width: 100%;
    height: 100%;
  }
  .services__second-right-image img {
    width: 100%;
    height: 100%;
  }
  .services__third-left-image img {
    width: 100%;
    height: 100%;
  }
}
