.about__possibility {
  display: flex;
  flex-direction: row;
  margin-bottom: 5rem;
}
.about__possibilitytop {
  display: flex;
  flex-direction: row;
  margin-bottom: 5rem;
  background-color: #f9f9f9f9;
  border-radius: 20px;
}
.about__possibilitytwo {
  display: flex;
  flex-direction: row;
  margin-bottom: 5rem;
}
.about__possibility-image {
  flex: 1 1;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  max-width: 35rem;
  margin-right: 2rem;
}
.about__possibility-image img {
  width: 100%;
  height: 100%;
}
.about__possibility-content {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  margin-right: 2rem;
  margin-left: 2rem;
}
.about__right-text {
  background-color: #312b73;
  border-top-left-radius: 80px 80px;
  border-bottom-left-radius: 15px;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  flex: 1;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  max-width: 50rem;

  padding: 4rem;
}
.about__right-text p {
  color: white;
  font-family: var(--font-family2);
  font-weight: 200;
  font-size: 16px;
  line-height: 30px;
}

.about__possibility-content-heading {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: row;
  margin-bottom: 3rem;
  background: #f9f9f9;
  border-radius: 20px;
}

.about__left-text {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-right: 5rem;
}
.about__left-text h1 {
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 34px;
  line-height: 45px;
  margin: 1rem 0;
}
.about__left-text p {
  color: var(--color-text);
  font-family: var(--font-family2);
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;

  margin-bottom: 2rem;
}
.about__rightContainer p {
  color: var(--color-text);
  font-family: var(--font-family2);
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
}
.about__possibility-content-heading h1 {
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 20px;
  line-height: 30px;
  margin: 1rem 0;
}

.about__possibility-content h1 {
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 34px;
  line-height: 45px;
  margin: 1rem 0;
  color: var(--color-head);
}

.about__possibility-content h2 {
  font-family: var(--font-family);
  font-weight: 800;
  font-size: 28px;
  line-height: 45px;
  margin: 1rem 0;
  color: var(--color-head);
}

.about__possibility-content p {
  color: var(--color-text);
  font-family: var(--font-family2);
  font-weight: 400;
  font-size: 16px;
  line-height: 27px;

  margin-bottom: 2rem;
}
@media screen and (max-width: 1050px) {
  .about__possibility {
    flex-direction: column;
    margin-bottom: 0rem;
  }
  .about__possibilitytop {
    flex-direction: column;
  }
  .about__possibilitytwo {
    flex-direction: column-reverse;
    margin-bottom: 0rem;
  }
  .about__possibility-image {
    margin: 1rem 0;
  }
  .about__possibility-content-heading {
    display: flex;
    flex-direction: column;
  }
  .about__left-text {
    margin: 2rem;
  }

  .about__possibility-content {
    margin-top: 2rem;
  }
}
@media screen and (max-width: 700px) {
  .about__possibility-image img {
    width: 100%;
    height: 100%;
  }
}
